{% extends 'base.html' %}
{% block content %}
<h2>About Us</h2>
<p>One of the most happening and fun crypt hunts of this year is ObscurA 3.0. ObscurA is derived from the word "Obscure" which means "keep from being seen; conceal", and that is what we do. We allow you to use any means at your disposal (that includes google) to crack the questions we pose to you, with special prizes for cracking some specific questions, BUT there is a catch. Our questions are not straightforward, most of them are based on wordplay, cyphers and lateral thinking (among other things). So put on your thinking caps, flex your fingers and get ready for a race to decide who will crack the last question first and will be the winner of Obscura3.0. Happy hunting!!..</p>
{% endblock %}